header {
    text-align: center;
    font-family: fantasy;
}
body {
    text-align: center;
    font-family: fantasy;
    background-color: lightblue;
}
#sectionButton {
    font-family: fantasy;
    padding: 10px;
}


